<template>
  <div class="w-500 text-left mt-2 border-b-2 border-black mb-2">
    <p class="text-2xl">Thêm giao dịch mới</p>
  </div>
  <div>
    <form action="submit" @submit.prevent="addTransaction">
      <div class="flex flex-col w-500">
        <label class="text-xl text-center">Tên giao dịch</label>
        <input type="text" class="border p-2 pl-3.5 border-black rounded-md" placeholder="Nhập tên giao dịch..."
               v-model="nameTrans">
      </div>
      <div class="flex flex-col w-500">
        <label class="text-xl text-center mt-2">Số tiền</label>
        <input type="number" class="border p-2 pl-3.5 border-black rounded-md" placeholder="Nhập số tiền giao dịch..."
               v-model="valueTrans">
      </div>
      <div class="mt-2 text-xl flex justify-around">
        <label class="text-green-500 font-bold">
          <input type="radio" name="trans_type" value="Income" v-model="typeTrans">
          Thu nhập
        </label>
        <label class="text-red-500 font-bold">
          <input type="radio" name="trans_type" value="Outcome" v-model="typeTrans">
          Chi tiêu
        </label>
      </div>
      <div class="w-500 flex items-center justify-center mb-2">
        <button
            class="w-1/2 bg-blue-500 p-2 mt-2 text-xl font-bold rounded-md text-white shadow-black shadow-lg hover:text-black hover:bg-gray-50 transition-all">
          Thêm giao dịch
        </button>
      </div>
    </form>
  </div>
</template>

<script setup>

import {ref} from 'vue'
import {useToast} from "vue-toastification";

const Toast = useToast()
const nameTrans = ref('')
const valueTrans = ref('')
const typeTrans = ref('')
const emit = defineEmits("TransactionAdded")


const addTransaction = () => {
  if (!nameTrans.value || !valueTrans.value || !typeTrans.value) {
    Toast.error("Vui lòng nhập đủ các thông tin!")
  } else {
    let TypeofTransaction;
    if (typeTrans.value == "Income") {

      TypeofTransaction = 1
    } else {
      TypeofTransaction = 0
    }
    const NewTransaction = {
      name: nameTrans.value,
      value: valueTrans.value,
      positive: TypeofTransaction
    }
    emit("TransactionAdded", NewTransaction)
    nameTrans.value = ''
    valueTrans.value = ''
    typeTrans.value = ''
    Toast.success("Thêm giao dịch mới thành công")
  }

}
</script>