<script setup>
import {defineProps} from 'vue';

const props = defineProps({
  balance: {
    type: Number,
    required: true,
  }
})
</script>

<template>
  <div class=" h-fit w-500 text-2xl text-red-600 m-1">
    <p> Số dư: {{ balance }} </p>
  </div>
</template>
