<template>
  <div class="mt-1.5 w-500  border-b-2 border-black">
    <p class="text-2xl text-left">Lịch sử giao dịch</p>
  </div>
  <div v-for="transaction in transactions" v-bind:key="transaction.id"
       class="mt-2 flex justify-between items-center w-500 p-2.5 text-white rounded-md"
       :class="transaction.positive == 1 ? 'bg-green-500' : 'bg-red-500' ">
    <p class="text-xl">{{ transaction.id }}</p>
    <p class="text-xl font-bold ">{{ transaction.name }}</p>
    <p class="text-xl">{{ transaction.value }}</p>
    <button class="w-fit h-fit bg-white p-3.5 font-bold text-black hover:text-red-600 hover:bg-black transition-all  rounded-xl" @click="deleteTransaction(transaction.id)">Xóa</button>
  </div>
  <!--  <div class="mt-2 flex justify-end items-end w-500">-->
  <!--    <button class="border w-4 h-fit border-black">1</button>-->
  <!--    <button class="border w-4 h-fit border-black">2</button>-->
  <!--    <button class="border w-4 h-fit border-black">3</button>-->
  <!--    <span>...</span>-->
  <!--    <button class="border w-4 h-fit border-black">9</button>-->
  <!--    <button class="border w-7 h-fit border-black">10</button>-->
  <!--  </div>-->
  <!--  <div class="card-footer pb-0 pt-3">-->
  <!--    <jw-pagination :items="transactions" @changePage="onChangePage"></jw-pagination>-->
  <!--  </div>-->

</template>

<script setup>

import {defineProps} from 'vue';
import JwPagination from 'jw-vue-pagination';

const props = defineProps({
  transactions: {
    type: Array,
    required: true
  }
})

const emit = defineEmits(["deleteTransaction"])

const deleteTransaction = (id) => {
  emit("deleteTransaction", id)
}

</script>