<template>
  <div class="bg-black p-3.5 w-1/2 text-center rounded-md border border-green-500 mr-1">
    <p class="text-white text-3xl">Thu nhập</p>
    <p class="text-green-500 text-2xl mt-1.5"> {{ income }} </p>
  </div>
</template>

<script setup>
import {defineProps} from 'vue';

const props = defineProps({
  income: {
    type: Number ,
    required: true,
  }
})
</script>