<script setup>
import {defineProps} from "vue";

const props = defineProps({
  outcome: {
    type: Number,
    required: true
  }
})
</script>

<template>
  <div class="bg-black p-3.5 w-1/2 text-center rounded-md border border-red-500 ml-1">
    <p class="text-white text-3xl">Chi tiêu</p>
    <p class="text-red-500 text-2xl mt-1.5"> {{ outcome }}</p>
  </div>
</template>

<style scoped>

</style>