<template>
  <div class="min-h-screen bg-gray-400 flex justify-center items-center">
    <div
        class="rounded-xl flex justify-center items-center flex-col h-fit w-700 bg-white shadow-white shadow-lg shadow-3xl">
      <Header></Header>
      <Balance :balance="balance_formatted"></Balance>
      <div class="w-500 h-fit bg-black text-white flex justify-between p-3.5 rounded-md ">
        <Income :income="income_formatted"></Income>
        <Outcome :outcome="outcome_formatted"></Outcome>
      </div>
      <History_Transactions :transactions="formattedTransactions"
                            @deleteTransaction="deleteTransaction"></History_Transactions>
      <Add_Transaction @TransactionAdded="handleTransactionSubmitted"></Add_Transaction>
    </div>
  </div>
</template>

<script setup>
import Header from "./components/Header.vue";
import Balance from "./components/Balance.vue";
import Income from "./components/Income.vue";
import Outcome from "./components/Outcome.vue";
import History_Transactions from "./components/History_Transactions.vue";
import Add_Transaction from "./components/Add_Transaction.vue";
import {ref, computed} from "vue";
import {useToast} from "vue-toastification";

const Toast = useToast()

const transactions = ref(
    [
      {
        id: 1,
        name: "Đổ xăng",
        value: 80000,
        positive: 0
      },
      {
        id: 2,
        name: "Thưởng tết",
        value: 2000000,
        positive: 1
      },
    ]
)

const vndFormat = new Intl.NumberFormat('vi-VN', {
  style: 'currency',
  currency: 'VND',
});
// Get balance value
const balance = computed(() => {
  const modifiedTransactions = transactions.value.map(transaction => {
    return {...transaction, value: transaction.positive == 0 ? transaction.value * -1 : transaction.value};
  });

  return modifiedTransactions.reduce((accumulator, transaction) => {
    return accumulator + transaction.value;
  }, 0);
});

const balance_formatted = computed(() => {
  return vndFormat.format(balance.value);
});

// Get total income value
const income = computed(() => {
  return transactions.value.reduce((accumulator, transaction) => {
    if (transaction.positive == 1) {
      return accumulator + transaction.value;
    } else {
      return accumulator;
    }
  }, 0);
});

const income_formatted = computed(() => {
  return vndFormat.format(income.value);
});


// Get total outcome value
const outcome = computed(() => {
  return transactions.value.reduce((accumulator, transaction) => {
    if (transaction.positive == 0) {
      return accumulator + transaction.value;
    } else {
      return accumulator;
    }
  }, 0)
})

const outcome_formatted = computed(() => {
  return vndFormat.format(outcome.value);
})

const formattedTransactions = computed(() => {
  return transactions.value.map(transaction => {
    const formattedValue = vndFormat.format(transaction.value);
    return {...transaction, value: formattedValue};
  });
});

// Unique ID generator
const UniqueIDGenertor = () => {
  return Math.floor(Math.random() * 50000)
}
// Add new transaction
const handleTransactionSubmitted = (NewTransaction) => {
  transactions.value.unshift({
    id: UniqueIDGenertor(),
    name: NewTransaction.name,
    value: NewTransaction.value,
    positive: NewTransaction.positive
  })
}

// Delete specific transaction

const deleteTransaction = (id) => {
  transactions.value = transactions.value.filter((transaction) =>
      (transaction.id != id)
  )
  Toast.info("Xoá giao dịch thành công!")
}

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,400;0,600;1,400&display=swap');
</style>