@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,400;0,600;1,400&display=swap');

@layer base {
    body {
        font-family: 'Sarabun', sans-serif;
    }
}
